.hamburger {
	display: none;
	.bar {
		height: 3px;
		width: 23px;
		background-color: #111;
		display: block;
		margin-bottom: 3px;
	}
}

@media screen and (max-width: 992px) {
	.hamburger {
		display: block;
		cursor: pointer;
	}
	ul {
		background-color: #fff;
		flex-direction: column;
		position: fixed;
		top: 5rem;
		left: 100%;
		width: 100%;
		text-align: center;
		&.active {
			left: 0;
		}
	}
}
